[project]
name = "advent-of-code"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "jupyter>=1.1.1",
    "jupyter-client>=8.6.3",
    "pip>=25.3",
    "pynvim>=0.6.0",
]
